<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- boostrap css cdn link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- bootstrap icon cdn link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <!-- My CSS -->

  <link rel="stylesheet" href="css/adminaddproducts.css">

  <title>AdminHub</title>
</head>



<body class="">

  <div class="container-fluid  d-flex p-0 ">

    <!-- SIDEBAR -->
    <div id="sidebar" class="pe-0 col-md-3 ">
      <a href="/adminHome" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">Admin</span>
      </a>


      <ul class="side-menu top">
        <li>
          <a href="/adminHome">
            <i class='bx bxs-dashboard'></i>
            <span class="text">Dashboard</span>
          </a>
        </li>

        <li class="active">
          <a href="/adminproducts">
            <i class='bx bxs-shopping-bags'></i>
            <span class="text">products</span>
          </a>
        </li>
        <li>
          <a href="/adminusers">
            <i class='bx bxs-user'></i>
            <span class="text">users</span>
          </a>
        </li>
        <li>
          <a href="/order">
            <i class='bx bx-basket'></i>
            <span class="text">Orders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-edit-alt'></i>
            <span class="text">banner management</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-offer'></i>
            <span class="text">coupon management</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-book'></i>
            <span class="text">category management</span>
          </a>
        </li>
        <li>
          <form action="/logout" method="post" class="py3 d-flex align-items-center justify-content-center">
            <i class='bx bxs-log-out-circle text-danger'></i>
            <button type="submit" class="btn "><span class="text-danger">LOG OUT</span></button>
          </form>
        </li>
      </ul>

    </div>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <div class=" col-12 col-md-9 ">
      <div class="ps-0 ">
        <!-- NAVBAR -->
        <nav>
          <div class="p-2 navbar" style="background-color: #F9F9F9;">
            <div class="mobile_brand">
              <a href="#">
                <i class='bx bxs-smile'></i>
                <span class="text">Admin</span>
              </a>
            </div>
            <img src="image/timegazelogo.png" alt="timegaze logo" style="width: 9rem;">
          </div>


        </nav>
        <!-- NAVBAR -->
        <nav aria-label="breadcrumb " class="p-4">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/adminHome">Home</a></li>
            <li class="breadcrumb-item "><a href="/adminproducts">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add products</li>
          </ol>
        </nav>
        <div class="container-fluid p-3  ">
          <div class="bg-white rounded-3">
            <form action="/api/addProduct" class="requires-validation" method="post" enctype="multipart/form-data"  novalidate>
              <div class="row p-2">

                <div class="col-md-6">
                  <label for="validateProductName" class="form-label">product name</label>
                  <input type="text" class="form-control <%= (errorMessage && errorMessage.name)?'is-invalid':''  %>  " name="name" id="validateProductName">
                  <small class="text-danger"><%= (errorMessage && errorMessage.name)?errorMessage.name:''  %></small>
                </div>
                <div class="col-md-6">
                  <label for="validatebrand" class="form-label">brand</label>
                  <input type="text" name="brand" class="form-control" id="validatebrand">
                  <small class="text-danger"></small>
                </div>
                <div class="col-6">
                  <label for="inputAddress" class="form-label">case diameter</label>
                  <input type="number" name="diameter" class="form-control" id="validateCaseDiameter">
                  <small class="text-danger"></small>
                </div>
                <div class="col-6">
                  <label for="validateCaseShape" class="form-label">case shape</label>
                  <input type="text" name="shape" class="form-control" id="validateCaseShape">
                  <small class="text-danger"></small>
                </div>
                <div class="col-md-2">
                  <label for="validatePrice" class="form-label">Price</label>
                  <input type="number" name="price" class="form-control" id="validatePrice"><small
                    class="text-danger"></small>
                </div>
                <div class="col-md-2">
                  <label for="validateOffer" class="form-label">discount </label>
                  <input type="number" name="offer" class="form-control" id="validateOffer">
                  <small class="text-danger"></small>
                </div>
                <div class="col-md-2">
                  <label for="validateDiscount" class="form-label">discount price </label>
                  <input type="number" class="form-control" name="discountPrice" id="validateDiscount" readonly>
                  <small class="text-danger"></small>
                </div>
                <div class="col-md-3">
                  <label for="validateCategory" class="form-label">Categories</label>
                  <select id="validateCategory" class="form-select form-control" name="category">
                    <option selected>Choose</option>
                    <% for (x in categories){%>
                      <option value="<%= categories[x]._id%>">
                        <%=categories[x].categoryName%>
                      </option>
                      <%}%>

                  </select>
                  <small class="text-danger"></small>
                </div>
                <div class="col-md-3">
                  <label for="validateQuantity" class="form-label">quantity </label>
                  <input type="number" name="quantity" class="form-control" id="validateQuantity">
                  <small class="text-danger"></small>
                </div>
                <div class="col-md-12 m-3  d-flex  justify-content-center">
                  <div class="col-md-6">
                    <input class="form-control" name="images"  type="file" id="formFileMultiple" multiple>
                    <small class="text-danger"></small>
                  </div>
                 
                </div>
                <div class="container-fluid row  image-preview-div">
                 
                </div>

                <div class="d-flex justify-content-center mt-3">
                  <button type="submit" class="btn btn-primary col-6">Add product</button>
                </div>

              </div>
            </form>
          </div>


        </div>
      </div>

    </div>

    <!-- CONTENT -->

  </div>




  <%- include('../include/adminfooter') %>
    <script src="js/addProduct.js"></script>