<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- boostrap css cdn link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- bootstrap icon cdn link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <!-- My CSS -->

  <link rel="stylesheet" href="/css/adminhome.css">

  <title>AdminHub</title>
</head>

<body class="">

  <div class="container-fluid  d-flex p-0 ">

    <!-- SIDEBAR -->
    <div id="sidebar" class="pe-0 col-md-3 ">
      <a href="/adminHome" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">Admin</span>
      </a>


      <ul class="side-menu top">
        <li class="active">
          <a href="/adminHome">
            <i class='bx bxs-dashboard'></i>
            <span class="text">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/adminproducts">
            <i class='bx bxs-shopping-bags'></i>
            <span class="text">products</span>
          </a>
        </li>
        <li>
          <a href="/adminusers">
            <i class='bx bxs-user'></i>
            <span class="text">users</span>
          </a>
        </li>
        <li>
          <a href="/order">
            <i class='bx bx-basket'></i>
            <span class="text">Orders</span>
          </a>
        </li>
        <li class="">
          <a href="/adminOffer">
            <i class='bx bxs-offer'></i>
            <span class="text">Offer Management</span>
          </a>
        </li>
        <li>
          <a href="/adminCoupen">
            <i class='bx bxs-offer'></i>
            <span class="text">coupon management</span>
          </a>
        </li>
        <li>
          <a href="/adminCategory">
            <i class='bx bxs-book'></i>
            <span class="text">category management</span>
          </a>
        </li>
        <li>
          <form action="/api/adminLogout" method="post" class="py3 d-flex align-items-center justify-content-center">
            <i class='bx bxs-log-out-circle text-danger'></i>
            <button type="submit" class="btn "><span class="text-danger">LOG OUT</span></button>
          </form>
        </li>
      </ul>

    </div>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <div class=" col-12 col-md-9 ">
      <div class="ps-0 ">
        <!-- NAVBAR -->
        <nav>
          <div class="p-2 navbar" style="background-color: #F9F9F9;">
            <div class="mobile_brand">
              <a href="/adminHome">
                <i class='bx bxs-smile'></i>
                <span class="text">Admin</span>
              </a>
            </div>
            <img src="/image/timegazelogo.png" alt="timegaze logo" style="width: 9rem;">
          </div>


        </nav>
        <!-- NAVBAR -->

        <div class="container-fluid mt-3 d-flex justify-content-end top-content">

          <div class="exportSalesReport">
            <span class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#salesReportFormat">
              <i class='bx bxs-cloud-download'></i>
              Sales Report
            </span>
            <div class="modal fade " aria-hidden="true" id="salesReportFormat" tabindex="-1"
              aria-labelledby="salesReportFormatLabel">
              <div class="modal-dialog">
                <div class="modal-content rounded-0">
                  <div class="modal-header">
                    <h5 id="salesReportFormatLabel" class="modal-title">Download Sales Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body salesReportModal ">
                    <form action="/api/salesReport" method="get" id="salesReportForm">
                      <div class="dateFilter d-flex justify-content-between">
                        <div class="row p-1">
                          <div class="col-6">
                            <label for="startDate">
                              From:
                            </label><br>
                            <input type="date" class="border border border-primary rounded-0 p-2" name="startDate"
                              id="startDate">
                          </div>
                          <div class="col-6">
                            <label for="endDate">To:</label><br>
                            <input type="date" class="border border border-primary rounded-0 p-2" name="endDate"
                              id="endDate">

                          </div>
                        </div>
                      </div>
                      <div class="modal-footer d-flex justify-content-end">
                        <label for="fileExtension">File Format:</label>
                        <select id="fileExtension" class="btn btn-dark rounded-0" style="font-size: 0.6rem;"
                          name="fileExtension">
                          <option value="excel" selected>Excel</option>
                          <option value="pdf">PDF</option>
                        </select>
                        <button class="btn btn-primary rounded-0" id="report-download" type="submit"
                          style="font-size: 0.6rem;">Download Report</button>
                      </div>
                    </form>

                  </div>

                </div>
              </div>
            </div>
            <% if (noOrder) { %>
              <div id="orderMessage" data-message="<%= noOrder %>" style="display: none;"></div>
              <% } %>
          </div>


          <div class="logout-mob ms-2">
            <form action="/logout" method="post" class="py3 d-flex align-items-center justify-content-center">
              <i class='bx bxs-log-out-circle text-danger'></i>
              <button type="submit" class="btn "><span class="text-danger">LOG OUT</span></button>
            </form>
          </div>
        </div>


        <div class="container-fluid">
          <ul class="box-info">
            <li>
              <i class='bx bxs-calendar-check'></i>
              <span class="text">
                <h3>
                  <%=(order.length>0&&order[0].totalOrders)? order[0].totalOrders : '0'%>
                </h3>
                <p> Orders</p>
              </span>
            </li>
            <li>
              <i class='bx bxs-group'></i>
              <span class="text">
                <h3>
                  <%=(user.length>0&&user[0].count)? user[0].count:0 %>
                </h3>
                <p>Users</p>
              </span>
            </li>
            <li>
              <i class='bx bx-rupee'></i>
              <span class="text">
                <h3>₹<%= (order.length>0&&order[0].totalAmount)?order[0].totalAmount.toLocaleString('en-US',
                    {minimumFractionDigits: 2, maximumFractionDigits: 2}) :'0.00' %> </h3>

                <p>Total Sales</p>
              </span>
            </li>
          </ul>
        </div>
        <div class="container-fluid">
          <div>
            <select name="sort" id="sort" class="rounded-0">
              <option class="rounded-0" value="year">Year</option>
              <option class="rounded-0" value="month" selected>Month</option>
              <option class="rounded-0" value="week">Week</option>
            </select>
          </div>
          <canvas id="myChart"></canvas>
        </div>

      </div>
    </div>

    <!-- CONTENT -->

  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    let myChart;
    let sortElement = document.getElementById('sort');
    let sort = sortElement.value
    chartData(sort)
    sortElement.addEventListener('change', function (event) {
      let sort = this.value;
      console.log(sort);
      chartData(sort)
    });


    function chartData(sort) {
      $.ajax({
        url: `/api/chartData?sort=${sort}`,
        type: 'get',
        success: function (data, textResponse, xhr) {
          if (xhr.status === 200) {
            const { orderData } = JSON.parse(xhr.responseText);

            showChart(orderData);
          }
        },
        error: function (textResponse, xhr, errorThrown) {
          if (xhr.status === 404) {
            window.location.href = '/adminHome'
          }
        }
      })
    };

    function showChart(orderData) {
      const labels = Object.keys(orderData);
      const dataValues = Object.values(orderData);
      const suggestedMaxValue = Math.max(...dataValues);
      const effectiveValue = suggestedMaxValue < 6 ? 6 : undefined;

      if (myChart) {
        myChart.data.labels = labels;
        myChart.data.datasets.forEach((dataset) => {
          dataset.data = dataValues;
        });
        myChart.update();
      } else {
        const chardiv = document.getElementById('myChart');
        const data = {
          labels: labels,
          datasets: [{
            label: 'Order',
            data: dataValues,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 1
          }]
        };

        const config = {
          type: 'bar',
          data: data,
          options: {
            scales: {
              y: {
                beginAtZero: true,
                suggestedMin: 0,
                suggestedMax: effectiveValue,
                ticks: {
                  stepSize: 1
                }

              }
            }
          },
        };

        myChart = new Chart(chardiv, config);
      }
    }

    const currentDate = new Date().toISOString().split('T')[0];
    const startDateField = document.getElementById('startDate');
    const endDateField = document.getElementById('endDate');

    startDateField.setAttribute('max', currentDate);
    endDateField.setAttribute('max', currentDate);

    startDateField.addEventListener('change', function () {
      const selectedStartDate = this.value;
      endDateField.setAttribute('min', selectedStartDate);
      if (endDateField.value && endDateField.value < selectedStartDate) {
        endDateField.value = selectedStartDate;
      }
    });

    document.addEventListener('DOMContentLoaded', function () {
      const messageElement = document.getElementById('orderMessage');
      if (messageElement && messageElement.dataset.message) {
        const message = messageElement.dataset.message;
        Swal.fire({
          toast: true,
          position: 'bottom',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          icon: 'warning',
          title: message
        });
      }
    });
  </script>

  <%- include('../include/adminfooter') %>