<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TimeGaze</title>
  <link rel="icon" href="/image/android-chrome-512x512.png" type="image/png" alt="Site Icon">

  <!-- boostrap css cdn link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- bootstrap icon cdn link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

  <!-- css style sheet link -->
  <link rel="stylesheet" href='/css/header_footer.css'>


  <style>
    table td{
      font-size: 0.6rem;
    }
    table th{
      
      font-size: 0.8rem;
    }
    .cart-container {

      overflow-y: auto;
      max-height: 200px;
    }

    .form-control:focus {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border-color: none;
      outline: 0;
      box-shadow: none;
    }

    .btn-close:focus {
      outline: 0;
      box-shadow: none;
      border-color: none;
    }

    .form-fontSize {
      font-size: 0.9rem;
    }

    .inputfiled-size {
      height: 1.6rem;
    }

    .cart-container::-webkit-scrollbar {
      display: none;
    }
  </style>

</head>

<body>
  <!-- header -->
  <%- include('../include/headerCommon') %>
    <!-- header -->
    </header>

    <section>
      <!-- checkout + summary -->
      <section class="bg-light my-5">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-9 mb-2 ">
              <div class="bg-white my-1 col-md-8 p-2 d-flex justify-content-between align-items-center border">
                <div>
                  <h5 class="m-0" style="font-size: 0.9rem;">Logged in</h5>
                  <small class="mb-0 text-wrap" style="font-size: 0.6rem;">
                    <%=cartItems[0].user.name %>
                      <%=cartItems[0].user.phonenumber %>
                  </small>
                </div>
                <div class="text-success">
                  <i class="bi bi-check-circle"></i>
                </div>
              </div>
              <% if(address) {%> 
                 <!-- address -->
              <div class="d-flex col-md-8  flex-column border mb-1 bg-white p-2 flex-sm-row justify-content-between ">
                <!-- default address -->
                <div class="">
                  <div class="d-flex flex-column">
                    <div class="d-flex flex-wrap align-items-center mb-2">
                      <span class="me-2 form-fontSize ">
                        <%=address.defaultAddress.address.name %>
                      </span>
                      <span class="badge bg-secondary me-2">
                        <%=address.defaultAddress.address.addressType %>
                      </span>
                      <span>
                        <%=address.defaultAddress.address.mobileNumber %>
                      </span>
                    </div>
                    <address class="mb-0 " style="font-size: 0.6rem;white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 200px;">
                      <%=address.defaultAddress.address.address %>
                    </address>
                  </div>
                </div>
                <!-- default address -->
                <div class=" d-flex align-items-center justify-content-md-end gap-2">
                  <!-- modal trigger button for edit address -->
                  <i class="btn bi bi-pencil-fill" data-bs-toggle="modal" data-bs-target="#addressModal"></i>

                  <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content rounded-0">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addressModalLabel">Edit Address</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body p-1">
                          <form class="requires-validation" data-id="<%=address.defaultAddress.address._id %>"
                            novalidate>
                            <div class="row p-1">

                              <div class="col-md-6 mb-1">
                                <label for="validateName" class="form-label form-fontSize"> Name</label>
                                <input type="text" class="form-control inputfiled-size" name='name'
                                  value="<%=address.defaultAddress.address.name %>" id="validateName">
                                <small class="text-danger"></small>
                              </div>

                              <div class="col-md-6 mb-1">
                                <label for="validateMobileNumber" class="form-label form-fontSize"> Mobile
                                  Number</label>
                                <input type="number" name="mobileNumber"
                                  value="<%=address.defaultAddress.address.mobileNumber %>"
                                  class="form-control inputfiled-size" id="validateMobileNumber">
                                <small class="text-danger"></small>
                              </div>

                              <div class="col-md-4 mb-1">
                                <label for="state" class="form-label">State</label>
                                <select class="form-select" name="state" id="state">
                                  <option value="">Select state</option>
                                  <% for(x of allStates) { %>
                                    <option value="<%= x.name %>"
                                      <%=address.defaultAddress.address.state===x.name? 'selected' : '' %>>
                                      <%= x.name %>
                                    </option>
                                    <% } %>
                                </select>
                                <small class="text-danger"></small>
                              </div>

                              <div class="col-md-4 mb-1">
                                <label for="district" class="form-label">district</label>
                                <select class="form-select" name="district" id="district">
                                </select>
                                <small class="text-danger"></small>
                              </div>
                              <div class="col-6 col-md-4 mb-1">
                                <label for="validatelocality" class="form-label form-fontSize">Locality</label>
                                <input type="text" name="locality" value="<%=address.defaultAddress.address.locality %>"
                                  class="form-control inputfiled-size" id="validatelocality">
                                <small class="text-danger"></small>
                              </div>

                              <div class="col-md-12 mb-1">
                                <label for="validateAdress" class="form-label form-fontSize">Address</label>
                                <textarea class="form-control " name="address" id="validateAdress" rows="3"
                                  placeholder="Address (area and street)"><%=address.defaultAddress.address.address %></textarea>
                                <small class="text-danger"></small>
                              </div>

                              <div class="col-md-12 mb-1">
                                <div class="col-5">
                                  <label for="validatePincode" class="form-label form-fontSize">Pincode</label>
                                  <input type="number" name="pincode"
                                    value="<%=address.defaultAddress.address.pincode %>"
                                    class="form-control inputfiled-size" id="validatePincode">
                                  <small class="text-danger"></small>
                                </div>
                              </div>

                              <div class="col-md-12 mb-1">
                                <div class="col-2 d-flex flex-column ">
                                  <label class="form-label form-fontSize">Address Type</label>
                                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" name="addressType" class="btn-check" id="home"
                                      autocomplete="off" value="Home"
                                      <%=(address.defaultAddress.address.addressType==='Home' )?'checked':'' %>>
                                    <label class="btn btn-outline-dark" for="home">Home</label>

                                    <input type="radio" name="addressType" class="btn-check" id="office"
                                      autocomplete="off" value="Office"
                                      <%=(address.defaultAddress.address.addressType==='Office' )?'checked':'' %>>
                                    <label class="btn btn-outline-dark" for="office">Office</label>
                                    <small class="text-danger"></small>
                                  </div>
                                  <small class="text-danger"></small>
                                </div>
                              </div>
                            </div>

                            <div class="d-flex justify-content-center mt-3">
                              <button type="submit" id="updateAddress" class="btn btn-outline-dark col-6">save
                                Address</button>
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end of modal for edit address -->

                  <!-- modal for show all other address -->
                  <i class="btn btn-dark" style="font-size: 0.5rem;" data-bs-toggle="modal"
                    data-bs-target="#addressChangeModal">Change</i>

                  <div class="modal fade" id="addressChangeModal" tabindex="-1" aria-labelledby="addressModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content rounded-0">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addressModalLabel">Select Address</h5>
                          <button type="button " class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <!-- single address body -->
                          <% for(addressItem of address.otherAddresses ) {%>
                            <div class="d-flex flex-column border mb-2  ">

                              <div class="d-flex justify-content-between">
                                <div class="mb-1 p-2  d-flex flex-column ">
                                  <div class="">
                                    <label for="address1" class="me-2 text-capitalize">
                                      <%=addressItem.address.name %>
                                    </label>
                                    <span class="badge bg-secondary me-2 text-capitalize">
                                      <%=addressItem.address.addressType %>
                                    </span>
                                    <span>
                                      <%=addressItem.address.mobileNumber %>
                                    </span>
                                  </div>
                                  <address style="white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 200px;" class="text-capitalize m-0 form-fontSize">
                                    <%=addressItem.address.address %>
                                  </address>
                                </div>
                                <div style="order: 1; " class="d-flex align-items-center me-1">
                                  <button type="button" data-id="<%=addressItem.address._id  %>"
                                    style="font-size: 0.6rem;" class="btn btn-dark change-address">Select</button>
                                </div>
                              </div>

                            </div>
                            <!--end of  single address body -->
                            <% } %>
                              <!-- Button for trigger add a new address modal -->
                              <button style="font-size:0.6rem ;" data-bs-toggle="modal"
                                data-bs-target="#addAddressModal" class="btn btn-dark m-1" type="submit">Add New
                                Address</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- modal for add a new address -->
                <div class="modal fade" id="addAddressModal" tabindex="-3" aria-labelledby="addressModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content rounded-0">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addressModalLabel">Add Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body p-1">
                        <form action="/api/createAdress?source=checkout" method="post" class="requires-validation1"
                          novalidate>
                          <div class="row p-2">

                            <div class="col-md-6">
                              <label for="validateName1" class="form-label"> name</label>
                              <input type="text" class="form-control " name='name' id="validateName1">
                              <small class="text-danger"></small>
                            </div>

                            <div class="col-md-6">
                              <label for="validateMobileNumber1" class="form-label"> mobileNumber</label>
                              <input type="number" name="mobileNumber" class="form-control " id="validateMobileNumber1">
                              <small class="text-danger"></small>
                            </div>

                            <div class="col-md-4">
                              <label for="state2" class="form-label">State</label>
                              <select class="form-select" name="state" id="state2">
                                <option value="" disabled selected>Select state</option>
                                <% for(x of allStates) {%>
                                  <option value="<%=x.name  %>">
                                    <%=x.name %>
                                  </option>
                                  <% } %>
                              </select>
                              <small class="text-danger"></small>
                            </div>
                            <div class="col-md-4">
                              <label for="district2" class="form-label">district</label>
                              <select class="form-select" name="district" id="district2">
                                <option value="" disabled selected>Select district</option>

                              </select>
                              <!--                           
                              <label for="inputAddress" class="form-label">District</label>
                              <input type="text" name="district" class="form-control " id="validateCaseDiameter"> -->
                              <small class="text-danger"></small>

                            </div>
                            <div class="col-md-4">
                              <label for="locality" class="form-label">Locality</label>
                              <input type="text" name="locality" class="form-control " id="locality">
                              <small class="text-danger"></small>
                            </div>


                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-12">
                                  <label for="validateAdress1" class="form-label">Address</label>
                                  <textarea class="form-control " name="address" id="validateAdress1" rows="4"
                                    placeholder="adress(area and street)"></textarea>
                                  <small class="text-danger"></small>
                                </div>
                              </div>

                            </div>
                            <div class="col-md-12">
                              <div class="col-5">
                                <label for="validateCaseShape" class="form-label">Pincode</label>
                                <input type="number" name="pincode" class="form-control " id="validateCaseShape">
                                <small class="text-danger"></small>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="col-md-2 d-flex flex-column ">
                                <label class="form-label">AdressType</label>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                  <input type="radio" name="addressType" class="btn-check" id="home1" autocomplete="off"
                                    value="Home">
                                  <label class="btn btn-outline-dark" for="home1">Home</label>

                                  <input type="radio" name="addressType" class="btn-check" id="office1"
                                    autocomplete="off" value="Office">
                                  <label class="btn btn-outline-dark" for="office1">Office</label>
                                </div>
                                <small class="text-danger"></small>
                              </div>
                            </div>
                          </div>


                          <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-outline-dark col-6">Add adress</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of modal for add a new address -->
              </div>
                <% }else{%> 
                  <div class="d-flex col-md-8  flex-column border mb-1 bg-white p-2 flex-sm-row justify-content-end ">
                    <button style="font-size:0.6rem ;" data-bs-toggle="modal"
                                data-bs-target="#addAddressModal" class="btn btn-dark m-1" type="submit">Add New
                                Address</button>
                                 <!-- modal for add a new address -->
                <div class="modal fade" id="addAddressModal" tabindex="-3" aria-labelledby="addressModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content rounded-0">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addressModalLabel">Add Address</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-1">
                      <form action="/api/createAdress?source=checkout" method="post" class="requires-validation1"
                        novalidate>
                        <div class="row p-2">

                          <div class="col-md-6">
                            <label for="validateName1" class="form-label"> name</label>
                            <input type="text" class="form-control " name='name' id="validateName1">
                            <small class="text-danger"></small>
                          </div>

                          <div class="col-md-6">
                            <label for="validateMobileNumber1" class="form-label"> mobileNumber</label>
                            <input type="number" name="mobileNumber" class="form-control " id="validateMobileNumber1">
                            <small class="text-danger"></small>
                          </div>

                          <div class="col-md-4">
                            <label for="state2" class="form-label">State</label>
                            <select class="form-select" name="state" id="state2">
                              <option value="" disabled selected>Select state</option>
                              <% for(x of allStates) {%>
                                <option value="<%=x.name  %>">
                                  <%=x.name %>
                                </option>
                                <% } %>
                            </select>
                            <small class="text-danger"></small>
                          </div>
                          <div class="col-md-4">
                            <label for="district2" class="form-label">district</label>
                            <select class="form-select" name="district" id="district2">
                              <option value="" disabled selected>Select district</option>

                            </select>
                            <!--                           
                            <label for="inputAddress" class="form-label">District</label>
                            <input type="text" name="district" class="form-control " id="validateCaseDiameter"> -->
                            <small class="text-danger"></small>

                          </div>
                          <div class="col-md-4">
                            <label for="locality" class="form-label">Locality</label>
                            <input type="text" name="locality" class="form-control " id="locality">
                            <small class="text-danger"></small>
                          </div>


                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <label for="validateAdress1" class="form-label">Address</label>
                                <textarea class="form-control " name="address" id="validateAdress1" rows="4"
                                  placeholder="adress(area and street)"></textarea>
                                <small class="text-danger"></small>
                              </div>
                            </div>

                          </div>
                          <div class="col-md-12">
                            <div class="col-5">
                              <label for="validateCaseShape" class="form-label">Pincode</label>
                              <input type="number" name="pincode" class="form-control " id="validateCaseShape">
                              <small class="text-danger"></small>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="col-md-2 d-flex flex-column ">
                              <label class="form-label">AdressType</label>
                              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" name="addressType" class="btn-check" id="home1" autocomplete="off"
                                  value="Home">
                                <label class="btn btn-outline-dark" for="home1">Home</label>

                                <input type="radio" name="addressType" class="btn-check" id="office1"
                                  autocomplete="off" value="Office">
                                <label class="btn btn-outline-dark" for="office1">Office</label>
                              </div>
                              <small class="text-danger"></small>
                            </div>
                          </div>
                        </div>


                        <div class="d-flex justify-content-center mt-3">
                          <button type="submit" class="btn btn-outline-dark col-6">Add adress</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of modal for add a new address -->
                  </div>
                  <% } %>
             
              <!-- items in cart -->
              <div class="d-flex col-md-8 border mb-1 bg-white p-2">


                <div class="cart-container">
                  <h6 class="text-dark my-4">Items in cart</h6>
                  <!-- single cart Item -->
                  <% for( x of cartItems) {%>
                    <%
                      function calculateDiscountedPrice(lastPrice, discount) {
                       return lastPrice - (lastPrice * discount / 100);
                      }

                      function calculateTotalPrice(lastPrice, cartQuantity, specialOffer, extraOffer, isSpecialOfferExpired, isExtraOfferExpired) {

                        let finalPrice = lastPrice;
                        
                        if (specialOffer && !isSpecialOfferExpired) {
                          finalPrice = calculateDiscountedPrice(finalPrice, specialOffer);
                        }
                        
                        if (extraOffer && !isExtraOfferExpired) {
                          finalPrice = calculateDiscountedPrice(finalPrice, extraOffer);
                        }
                        
                        return Math.round(finalPrice * cartQuantity);
                      }
                      let cartQuantity = x.cartItem.quantity;
                      let lastPrice = x.cartItem.product.discountPrice;
                      let specialOffer = x.cartItem.product.categoryOffer?.discount
                      let extraOffer = x.cartItem.product.productOffer?.discount;
                      let specialOfferExpired = new Date(x.cartItem.product.categoryOffer?.expiry).getTime()< Date.now()
                      let extraOfferExpired = new Date(x.cartItem.product.productOffer?.expiry).getTime()< Date.now();
                      let totalPrice = calculateTotalPrice(lastPrice, cartQuantity, specialOffer, extraOffer, specialOfferExpired, extraOfferExpired);

                    %>
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3 position-relative">
                        <img src="/uploads/<%=x.cartItem.product.image[0]  %>" style="height: 96px; width: 96px;"
                          class="img-sm rounded border" />
                      </div>
                      <div class="">
                        <a href="#" class="nav-link">
                          <%=x.cartItem.product.productName %> <br />

                        </a>
                        <div class="price text-muted">Total:₹<%=totalPrice%>
                          <% 
                            let pricePerItem = lastPrice; 
                            if (!specialOfferExpired && !extraOfferExpired && specialOffer && extraOffer) {
                            
                              pricePerItem = calculateDiscountedPrice(lastPrice, specialOffer + extraOffer); 
                            } else if (!specialOfferExpired && specialOffer) {
                              
                              pricePerItem = calculateDiscountedPrice(lastPrice, specialOffer);
                            } else if (!extraOfferExpired && extraOffer) {
                            
                              pricePerItem = calculateDiscountedPrice(lastPrice, extraOffer);
                            }
                            
                            pricePerItem = Math.round(pricePerItem);  
                          %>
                          (
                            <%=cartQuantity%>*₹<%= pricePerItem%>)</div>
                      </div>
                    </div>
                    <% } %>
                </div>
              </div>
              <!-- items in cart -->

              <!-- payment option -->
              <div class="d-flex col-md-8 border mb-1 bg-white p-2 d-flex flex-column">
                <form action="" data-id="<%= address?address.defaultAddress.address._id:'' %>" class="payment" novalidate>
                  <h5 class="form-label form-fontSize" style="font-size: 0.9rem;">Payment Option</h5>
                  <div class="ms-2">
                    <div class="d-flex-align-items-center">
                      <input type="radio" name="PaymentOption" id="onlinePayment" autocomplete="off"
                        value="onlinePayment">
                      <label for="onlinePayment">Online Payment</label>
                    </div>
                    <div class="d-flex-align-items-center">
                      <input type="radio" name="PaymentOption" id="cashOnDelivery" autocomplete="off"
                        value="cashOnDelivery">
                      <label for="cashOnDelivery">Cash on Delivery</label>
                    </div>
                  </div>
                  <small class="text-danger"></small>
                  <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-dark m-2" style="font-size: 0.6rem;" value="submit">
                  </div>

                </form>
              </div>
              <!-- payment option -->

            </div>



            <!-- summary -->
            <div class="col-md-3 mt-2">
              <%

                let cartTotal = cartItems.reduce((total, carts) => {
                let cartQuantity = carts.cartItem.quantity;
                let extraOfferExpired = new Date(carts.cartItem.product.productOffer?.expiry).getTime() < Date.now();
                let specialOfferExpired = new Date(carts.cartItem.product.categoryOffer?.expiry).getTime() < Date.now();
                let lastPrice = carts.cartItem.product.discountPrice;
                let specialOffer = carts.cartItem.product.categoryOffer?.discount || 0;
                let extraOffer = carts.cartItem.product.productOffer?.discount || 0;

                let discountedPrice = lastPrice; 

                if (specialOffer && !specialOfferExpired && extraOffer && !extraOfferExpired) {
                    discountedPrice *= (1 - specialOffer / 100) * (1 - extraOffer / 100);
                } else if (specialOffer && !specialOfferExpired) {
                    discountedPrice *= (1 - specialOffer / 100);
                } else if (extraOffer && !extraOfferExpired) {
                    discountedPrice *= (1 - extraOffer / 100);
                }

                let itemTotal = discountedPrice * cartQuantity;    
                return Math.round(total + itemTotal); 
               }, 0); 

              %>  
              <div class="card mb-1 border shadow-0 ">
                <div class="card-body coupenDiv">
                  <form>
                    <div class="form-group">
                      <label class="form-label d-flex justify-content-between"><div>Have coupon?</div><div><button style="font-size: 0.6rem;" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#couponModal">
                        <i class="bi bi-info-circle"></i>
                      </button></div></label>
                      
                      <div class="input-group ">
                        <input type="text" class="form-control border" name="code" placeholder="Coupon code">
                        <button class="btn btn-light border" data-cartId="<%=cartItems[0]._id %>"
                          id="coupenCode">Apply</button>
                      </div>
                      <small class="text-danger"></small>
                    </div>
                  </form>
                </div>

                <div class="card shadow-0 border">
                  <div class="card-body p-2 cartSummary">
                    <div class="d-flex justify-content-between">
                      
                      <p class="mb-0">Price (<%=cartItems.length %> items)</p>
                      <p class="mb-0">₹<%=cartTotal %>
                      </p>
                    </div>

                    <div class="d-flex justify-content-between " >
                      <p class="mb-0">Discount:</p>
                      <p class="mb-0 text-success discount">0</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-0">Delivery</p>
                      <p class="mb-0 text-success">Free</p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                      <p class="mb-0 ">Total price:</p>
                      <p class="mb-0 fw-bold finalPrice" id="cartTotal">₹<%=cartTotal %>
                      </p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
      </section>
      <!-- checkout + summary -->

    </section>

    <div class="modal modal-sm" id="couponModal" tabindex="-1">
      <div class="modal-dialog ">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            
            <button type="button" style="font-size: 0.6rem;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body "> 
            <table class="table">
              <thead>
                <tr>
                 
                  <th>Coupon Code</th>
                  <th>Discount</th>
                  <th>Expiry Date</th>
                </tr>
              </thead>
              <tbody>
                <!-- Example Coupons (Replace this with your actual coupon data) -->
                <% coupon.forEach((x,index)=>{ %>
                  <% let expired = x.expiry<Date.now() %>
                <% if(!expired) {%>
                <tr>
                  <td><%=x.code %></td>
                  <td><%= !x.isPercentage ? '₹' + x.discount : x.discount + '%' %></td>
                  <td><%= new Date(x.expiry).toLocaleDateString('en-US',{day: '2-digit', month: '2-digit', year: 'numeric',timezon:'Asia/kolkata'}) %></td>
                </tr>
                <% } %>
              
                <% }) %>
                <!-- Add more coupon rows as needed -->
              </tbody>
            </table>  
          </div>
         
        </div>
      </div>
    </div>
    
 
    <!-- footer -->
    <%- include('../include/footer') %>
      <!-- footer -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      <script src="/js/checkout.js"></script>
      <script src="/js/togglebutton.js"></script>
      <script>

        getCities($('#state').val(), 'district'); 

        //event listener for edit address
        $("#state").on("change", function () {
          getCities($(this).val(), 'district');
        });


        //event listener for add address
        $("#state2").on("change", function () {
          getCities($(this).val(), 'district2');
        });

        function getCities(selectedState, dropdownId) {
          console.log(dropdownId, 'ajaxx')
          $.ajax({
            url: "https://countriesnow.space/api/v0.1/countries/state/cities",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({
              country: "India",
              state: selectedState
            }),
            success: function (response) {


              var districtDropdown = $("#" + dropdownId)
              districtDropdown.empty();
              districtDropdown.append('<option value="" >Select district</option>');
              for (let city of response.data) {
                let isSelected = city === '<%=address?address.defaultAddress.address.district:undefined %>';
                districtDropdown.append(`<option value="${city}" ${isSelected ? 'selected' : ''}>${city}</option>`);
              }
            },
            error: function (error) {
              console.error("Error fetching cities:", error);
            }
          });
        }

        //for coupon

        $('#coupenCode').on('click', function (event) {
          event.preventDefault();
          event.stopPropagation();
          let cartId = $(this).attr('data-CartId')
          let coupenDiv = $(this).closest('.coupenDiv');
          let cartSummary = $('.cartSummary');
          let codeInput = coupenDiv.find('input')
          if (!codeInput.val()) {

            codeInput.removeClass('is-valid')
            codeInput.addClass('is-invalid');
            coupenDiv.find('small').text('Enter a coupen code')
          }
          else {
            coupenDiv.find('button').addClass('disabled');
            coupenDiv.find('small').text('')
            console.log(codeInput.val())
            applyCoupen(cartId, codeInput.val(), cartSummary, coupenDiv, codeInput);
          }
        })


        function applyCoupen(cartId, code, cartSummary, coupenDiv, codeInput) {
          console.log(code)
          console.log(cartId)
          $.ajax({
            url: `/api/applyCoupen/${cartId}`,
            type:"post",
            contentType:"application/json",
            data: JSON.stringify({
              code: code,
            }),
            success: function (data, TextResponse, xhr) {
              if (xhr.status == 200) {
                let { discountPrice, discount, message } = JSON.parse(xhr.responseText);
                codeInput.removeClass('is-invalid')
                codeInput.addClass('is-valid');
                codeInput.attr('readonly',true)
                cartSummary.find('.discount').html( `-${discountPrice}`);
                cartSummary.find('.finalPrice').html( discount);

              }
            },
            error: function (xhr, TextResponse, errorThrown) {
              if (xhr.status === 404) {
                window.location.href = '/'
              }
              if (xhr.status === 400) {
                let { message } = JSON.parse(xhr.responseText);
                codeInput.addClass('is-invalid');
                codeInput.removeClass('is-valid');
                coupenDiv.find('button').removeClass('disabled');
                coupenDiv.find('small').text(message);

              }
            }
          })
        }
      </script>

</body>

</html>