<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TimeGaze</title>
  <link rel="icon" href="/image/android-chrome-512x512.png" type="image/png" alt="Site Icon">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <!-- boostrap css cdn link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- bootstrap icon cdn link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


  <!-- css style sheet link -->
  <link rel="stylesheet" href="/css/header_footer.css">


  <style>
    .is-activeMobile {
      background-color: white;
      color: black !important;
      border: 2px solid;
    }

    .mobile-profile-navigaton .text-white {
      padding: 4px;
    }

    .mobile-profile-navigaton {
      display: none;
    }

    aside a {
      color: black;
    }

    @media (max-width:768px) {
      aside {
        display: none !important;
      }

      .mobile-profile-navigaton {
        display: block;
      }
    }

    aside li {
      text-align: center;
      padding: 0.5rem
    }

    .is-active {
      color: white;
      border: 2px solid;
      text-align: center;
      margin: 0;
      background: black;
    }

    .is-active span {
      color: white;
    }

    @media (min-width: 576px) {

      #section-last h3 {
        font-size: 1.3rem;
        text-transform: capitalize;
      }
    }

    .form-control:focus .accordian-button:focus {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border-color: none;
      outline: 0;
      box-shadow: none;
    }


    .breadcrumb-item a {
      color: rgb(0, 0, 0) !important;
      font-size: inherit;
    }
  </style>

</head>

<body>
  <%- include('../include/headerCommon') %>



    </div>


    </header>
    <!-- header -->
    <div class="container-fluid">
      <nav aria-label="breadcrumb " class="p-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/orderHistory">orders</a></li>
          <li class="breadcrumb-item active" aria-current="page">orderDetail</li>
        </ol>
      </nav>
    </div>

    <section class="container-fluid my-3">
      <div class="row">
        <aside class="col-md-3 p-2 bg-light-subtle">
          <div>
            <ul class="flex-column d-flex ">
              <li>
                <h4>Your account</h4>
              </li>
              <li class="">
                <a href="/profile">
                  <span class="text ">Profile</span>
                </a>
              </li>

              <li>
                <a href="/address">

                  <span class="text">address</span>
                </a>
              </li>
              <li class="is-active ">
                <a href="orderHistory">
                  <span class="text">orders</span>
                </a>
              </li>
              <li class="">
                <a href="/wallet">
                  <span class="text">wallet</span>
                </a>
              </li>
              <li>
                <!-- <form action="/logout" method="post" class="py3 d-flex align-items-center justify-content-center">
                  <i class="bi bi-arrow-return-left text-danger"></i>
                  <button type="submit" class="btn "><span class="text-danger">LOG OUT</span></button>
                </form> -->
              </li>
            </ul>

          </div>

        </aside>
        <div class="mobile-profile-navigaton">
          <div class="col-12 d-flex   container-fluid justify-content-evenly bg-dark mb-3">
            <a href="/profile">
              <div class="text-white">Profile</div>
            </a>
            <a href="/address">
              <div class="text-white  ">address</div>
            </a>
            <a href="/orderHistory">
              <div class="text-white is-activeMobile ">orders</div>
            </a>
            <a href="/wallet">
              <div class="text-white ">wallet</div>
            </a>


          </div>
        </div>
        <div class="col-md-9">
          <div class="card mb-1 bg-white rounded-0 mb-5">
            <div class="card-header">
              <span class="h5">Details</span>
            </div>
            <div class="card-body p-2">
              <div class="row d-flex justify-content-between">
                
                  <div class="col-sm-6">
                    <div class="mb-1">
                      <h6 class="fw-bold">
                        <%=order.address.name %>
                      </h6>
                      <p class="mb-0">
                        <%=order.user[0].email %>
                      </p>
                      <p class="mb-0" style="max-width: 320px;">
                        <%=order.address.address %>
                      </p>
                    </div>
                    <div>
                      <h6 class="fw-bold">Phone number</h6>
                      <p>
                        <%=order.address.mobileNumber %>,<%=order.user[0].phonenumber %>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-6 d-flex">
                    <div>
                      <h6 class="fw-bold">Product Information</h6>
                      <p>Product Name: <%= order.orderItems.productName %>
                      </p>
                      <p>Quantity: <%= order.orderItems.quantity %>
                      </p>
                      <p>Price: ₹<%= order.orderItems.discountPrice %> each</p>
                      
                    </div>
                    <div class="mb-1">
                      <img src="/uploads/<%= order.orderItems.image[0] %>" style="height: 96px; width: 96px;"
                        class="img-fluid" />
                    </div>

                  </div>
                  <p>Date:<%= new Date(order.orderDate).toLocaleDateString('en-US',{timeZone:'Asia/kolkata'}) %></p>
                  <div class="">
                    <% if(order.orderItems.orderStatus==='delivered'||order.orderItems.orderStatus==='return_requested'||order.orderItems.orderStatus==='returned'  ) {%>
                      <button class="btn btn-dark rounded-0" data-id="<%=order._id  %>" id="invoice" style="font-size: 0.6rem;">download
                        Invoice</button>
                      <% if(order.orderItems.orderStatus!=='return_requested'&& order.orderItems.orderStatus!=='returned') {%>
                        <button class="btn btn-dark rounded-0" id="return-status"
                          data-id="<%= order.orderItems._id %>" value="return_requested" style="font-size: 0.6rem;">
                          Return
                        </button>
                        <% } %>
                          <% } %>

                            <% if(order.orderItems.orderStatus==='returned' ) {%>
                              <span>
                                Your item has been returned
                                <i class="bi bi-check-circle text-success"></i>
                              </span>
                              <% } %>

                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </section>
    <%- include('../include/footer') %>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

      <script>

        $('#return-status').click(async function (event) {
          event.preventDefault();
          let btn = $(this);
          let orderStatus = btn.val();
          let orderId = btn.attr('data-id');
          console.log(orderId, orderStatus);
          const { value: text } = await Swal.fire({
            input: "textarea",
            inputLabel: "Message",
            inputPlaceholder: "Type your message here...",
            inputAttributes: {
              "aria-label": "Type your message here"
            },
            showCancelButton: true,
            preConfirm: (value) => {
              if (!value) {
                Swal.showValidationMessage("Please provide a reason for the return.");
              }
            },

          });
          if (text) {
            console.log(orderId, btn, orderStatus, text);
            changeOrderStatus(orderId, btn, orderStatus, text)
          }


        })

        function changeOrderStatus(orderId, btn, orderStatus, text) {
          Swal.fire({
            title: "Are you sure?",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Return Order!"
          }).then((result) => {
            if (result.isConfirmed) {
              console.log(orderId, btn, orderStatus, text)
              $.ajax({
                url: `/api/changeOrderStatus/${orderId}`,
                type: 'PUT',
                data: JSON.stringify({ orderStatus: orderStatus, returnReason: text }),
                contentType: 'application/json',
                success: function (data, textStatus, xhr) {
                  if (xhr.status === 200) {
                    let {message} = JSON.parse(xhr.responseText)
                    const Toast = Swal.mixin({
                      toast: true,
                      position: "bottom",
                      showConfirmButton: false,
                      timer: 2000,
                      timerProgressBar: true,
                      didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                      }
                    });
                    Toast.fire({
                      icon: "success",
                      title: message
                    });
                    btn.hide()
                  }

                },
                error: function (xhr, textStatus, errorThrown) {
                  if (xhr.status === 400) {
                    console.log(xhr.responseText)

                  } if (xhr.status === 404) {
                    window.location.href = '/loign'
                  }

                }


              })
            }
          });

        }

       $('#invoice').click(function(event){
        event.preventDefault();
        $(this).addClass('disabled')
        let orderId = $(this).attr('data-id');
        console.log(orderId,this)
        if(orderId)downloadInvoice(orderId,this);
       
       })


       function downloadInvoice(orderId,btn){
       

        $.ajax({
          url:`api/invoice/${orderId}`,
          type:'post',
          contentType:'application/json',
          success:function(data,textStatus,xhr){  
            if(xhr.status===200){
              try{
                
                let {invoice,invoiceNumber} = JSON.parse(xhr.responseText);
                easyinvoice.download(`${invoiceNumber}.pdf`, invoice.pdf);
                $(btn).removeClass('disabled')
              }catch(error){
                window.location.href= '/'
              }
            }
          },
          error(xhr,textStatus,errorThrown){
            if(xhr.status==400){
              $(btn).removeClass('disabled')
            }
            if(xhr.status==404){
              window.location.href='/'
            }
          }
        })
       }

      </script>
</body>

</html>