<%- include('../include/header') %>
  <!-- section -->
  <section>
    <div class="container-fluid p-3">

      <div class="ps-4 form-navigation ">
        <h1>login</h1>

        <ul class="d-flex">
          <li class="mx-2" style="border-bottom: 2px solid black;"><a href="/login">login</a></li>
          <li class="mx-2"><a href="/signup">sign up</a></li>
        </ul>


      </div>

      <div class=" row signup-form ">
        <div class="login-col col-12 col-sm-6 mb-3">
          <form action="/api/userAuth" method="post" class="requires-validation" novalidate>
            <small class="text-danger"><%= errorMessage==='Your are not verified,please register after some times'?errorMessage:(errorMessage==="Account blocked")?errorMessage:'' %></small>
            <div class="mb-3">
              <label for="validationCustomerEmail" class="form-label">email id*</label>
              <input type="email" autocomplete="email"
                class="form-control <%= errorMessage==='no user found'?'is-invalid':'' %>" id="validationCustomerEmail"
                placeholder="email id..."  value=" <%= registerdEmail %>" name="email" required>
              <small class="text-danger">
                <%= errorMessage==='no user found' ?errorMessage:'' %>
              </small>

            </div>

            <div class="mb-3">
              <label for="validationPassword" class="form-label">passowrd*</label>
              <input type="password" class="form-control <%= errorMessage==='Invalid passowrd'?'is-invalid':'' %> "
                id="validationPassword" name="password" placeholder="passowrd..." required>
              <small class="text-danger">
                <%= errorMessage==='Invalid password' ?errorMessage:'' %>
              </small>
            </div>

            <div class="pb-5">
              <button class="btn btn-dark mt-3  " type="submit">login<i class="bi bi-forward-fill ms-5"></i></button>
            </div>
            <p><a href="/passwordReset">forgot your passowrd</a></p>

          </form>
        </div>
        <div class="login-col-img col-12 col-sm-6">
          <img src="image/02617_WB23_July_alt_lifestyle_featured_image.webp" alt="signup-img "
            style="object-fit:cover;width: 100%; height: 100%">

        </div>
      </div>
    </div>
  </section>
  <!-- section -->
  <%- include('../include/footer') %>




    <script src="js/loginValidation.js"></script>
    <script src="js/togglebutton.js"></script>
    </body>

    </html>